.list {
    border: solid 2px lightgray;
    padding: 10px;
    margin-bottom: 10px;
    width: 50%;
    border-radius: 1em;
    display: flex;
}

.image {
    width: 100%;
    height: auto;
    max-width: 50px;
    max-height: 50px;
    border-radius: .5em;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0 auto;
    list-style-type: none;
}